$color_white: #FFFFFF;
$color_blue: #175f84;
$color_light_gray: #c2c2c2;
$color_black:#363636;

$max_width: 1155px;

$nav-breakpoint: 830px;
$nav-breakpoint-max: 831px;
$d-lg: 45px;
$d-md: 30px;
$d-sm: 15px;
$d-xs: 7.5px;
$m-lg: 32px;
$m-md: 16px;
$m-sm: 8px;
$m-xs: 4px;