{{#expanses}}  	
<div class="expandable">
	<div class="expanse-title">
		<span class="symbol">
			<div class="expanse-icon">
				<div class="vertical-bar"></div>
				<div class="horizontal-bar"></div>
			</div>
		</span> {{{ question }}}
	</div>
	<div class="expanse">
		{{#answer}}
		<p class="expanse-p">{{{ p }}}</p>
		{{/answer}}
	</div>
</div>
{{/expanses }}